<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production-версия, оптимизированная для размера и скорости -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <title>ProDirect</title>
</head>
<body>
<div id="app">{{ message }}</div>
<script src="/js/main.js"></script>
</body>
</html>